page-profile {
    ion-content{
        padding-top: 80px;
    }
    .titulop{
        font-family: roboto;
        color: #00b9e7;
        font-size: 1.5em;
    }
    .strella{
        color: #00b9e7;
        font-size: 1.5em;
    }
    .derecha{
        float: right;
        text-align: right;
    }
    .blanco{
        color: white;
        float: left;
        display: inline-block;
    }
    .blancob{
        color: white;
        float: right;
        display: inline-block;
    }
    .blanco{
        color: white;
        float: left;
        display: inline-block;
    }
    .blancob{
        color: white;
        float: right;
        display: inline-block;
    }
    .toolbar-background
    {
        background-color: #00b9e7;
    }
    ion-content{
        background-color: #eaeaea !important;
    }
    .barra{
        background: rgba(255, 255, 255, 0.49);
        width: 100%;
        padding: 20px 20px 20px 10px;
        font-family:roboto;
        font-size: 1.1em;
    }
    .azul{
        color: #00b9e7;
        
        font-size:1.2em; 
    }
    .count-comments{
        margin-left: 23px;
        position: absolute;
        font-family: roboto;
        color:#00b9e7;
        font-weight: 500;
    }
    .titulo{
        color: #00b9e7;
        font-family: roboto;
        font-size: 1.3em;
        font-weight: 500;
    }
    .gris{
        color: gray !important;
        font-weight: 400;
        font-size: 1.1em;
    }
    .azulb{
        color: #00b9e7;
        
        font-size:1.5em; 
    }
    ion-col{
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .buttonclose {
        width: 100% !important;
        font-family: roboto;
        background-color: #ff5200;
        height: 57px;
        line-height: 50px;
        padding-right: 30px;
        padding-left: 30px;
        text-transform: uppercase;
        font-size: 1.1em;
    }

}
