page-tusanuncios {
    ion-content{
        padding-top: 80px;
    }
    .titulop{
        font-family: roboto;
        color: #00b9e7;
        font-size: 1.5em;
    }
    .strella{
        color: #00b9e7;
        font-size: 1.5em;
    }
    .derecha{
        float: right;
        text-align: right;
    }
    .blanco{
        color: white;
        float: left;
        display: inline-block;
    }
    .blancob{
        color: white;
        float: right;
        display: inline-block;
    }
    .toolbar-background
    {
        background-color: #00b9e7;
    }
    ion-content{
        background-color: #eaeaea !important;
    }
    .barra{
        background: rgba(255, 255, 255, 0.49);
        width: 100%;
    }
    .azul{
        color: #00b9e7;
        
        font-size:1.2em; 
    }
    .count-comments{
        margin-left: 23px;
        position: absolute;
        font-family: roboto;
        color:#00b9e7;
        font-weight: 500;
    }
    .titulo{
        color: #00b9e7;
        font-family: roboto;
        font-size: 1.3em;
        font-weight: 600;
        line-height: 3px;
    }
    .texto{
        font-weight: 500;
        font-family: roboto;
        font-size: 1.2em;
        font-weight: 600;
        line-height: 3px;
    }
    .titulo2{
        color: gray;
        font-family: roboto;
        font-size: 1.2em;
        font-weight: 600;
        line-height: 3px;
        line-height: 2em;
    }
    .gris{
        color: gray;
        font-weight: 400;
        font-size: 1.1em;
        
    }
    .line{
        line-height: 2em;
    }
    .azulb{
        color: #00b9e7;
        
        font-size:1.5em; 
    }

}
